[Unit]
Description=Logstash
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Environment=ES_HOME={{ logstash_install_dir }}logstash
Environment=CONF_DIR={{ logstash_install_dir }}logstash/config
Environment=DATA_DIR={{ logstash_data_dir }}
Environment=LOG_DIR={{ logstash_log_dir }}
Environment=PID_DIR=/var/run/logstash
EnvironmentFile=-/etc/default/logstash

WorkingDirectory={{ logstash_install_dir }}logstash

User={{ logstash_user }}
Group={{ logstash_group }}

ExecStart={{ logstash_install_dir }}logstash/bin/logstash \
                                                -p ${PID_DIR}/logstash.pid \
                                                --quiet \
                                                -Edefault.path.logs=${LOG_DIR} \
                                                -Edefault.path.data=${DATA_DIR} \
                                                -Edefault.path.conf=${CONF_DIR}

# StandardOutput is configured to redirect to journalctl since
# some error messages may be logged in standard output before
# logstash logging system is initialized. Logstash
# stores its logs in /var/log/logstash and does not use
# journalctl by default. If you also want to enable journalctl
# logging, you can simply remove the "quiet" option from ExecStart.
StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=100000

# Specifies the maximum number of bytes of memory that may be locked into RAM
# Set to "infinity" if you use the 'bootstrap.memory_lock: true' option
# in logstash.yml and 'MAX_LOCKED_MEMORY=unlimited' in /etc/default/logstash
LimitMEMLOCK=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Java process is never killed
SendSIGKILL=no

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

# Built for distribution-5.2.2 (distribution)